/debug/
/nbproject/private/
/gomi/
/nbproject/Makefile-genesis.properties
/nbproject/Makefile-variables.mk
/nbproject/Makefile-local-default.mk
/nbproject/Makefile-default.mk
/nbproject/Makefile-impl.mk
/nbproject/Package-default.bash
/build/
/dist/
/partial-exportMC3_V8->V9
/v9TestConfig