/mcc_generated_files/fatfs:10:23/
/debug/
/nbproject/private/
/gomi/
/nbproject/Makefile-genesis.properties
/nbproject/Makefile-variables.mk
/nbproject/Makefile-local-default.mk
/nbproject/Makefile-default.mk
/nbproject/Makefile-impl.mk
/nbproject/Package-default.bash